.gradle
.settings
/.idea/
/.vscode/
/run/
/build/
/eclipse/
.classpath
.project
/bin/
/config/
/crash-reports/
/logs/
options.txt
/saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
servers.dat
usercache.json
whitelist.json
/out/
*.iml
*.ipr
*.iws
src/main/resources/mixins.*([!.]).json
*.bat
*.DS_Store
!gradlew.bat
.factorypath
addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
src/main/resources/assets/tinker/textures/items/textures to draw/_sword_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_shuriken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_shuriken (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_shovel_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_scythe_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_scythe_binding.png
src/main/resources/assets/tinker/textures/items/textures to draw/_scythe_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_rod.png
src/main/resources/assets/tinker/textures/items/textures to draw/_rapier_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_rapier_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_pickaxe_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_pickaxe_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_medium_guard.png
src/main/resources/assets/tinker/textures/items/textures to draw/_mattock_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_lumberaxe_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_lumberaxe_binding.png
src/main/resources/assets/tinker/textures/items/textures to draw/_longsword_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_longsword_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_large_guard.png
src/main/resources/assets/tinker/textures/items/textures to draw/_knife_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_knife_blade.png
src/main/resources/assets/tinker/textures/items/textures to draw/_knife_blade (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_javelin_head_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_javelin_head.png
src/main/resources/assets/tinker/textures/items/textures to draw/_javelin_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_javelin_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_hammer_handle_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_hammer_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_full_guard.png
src/main/resources/assets/tinker/textures/items/textures to draw/_frypan_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_excavator_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_excavator_grip.png
src/main/resources/assets/tinker/textures/items/textures to draw/_dagger_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_dagger_blade_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_dagger_blade.png
src/main/resources/assets/tinker/textures/items/textures to draw/_dagger_accessory.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cutlass_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cutlass_guard.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cutlass_blade_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cutlass_blade.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_limb.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_bow_3.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_bow_2.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_bow_1.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_bow.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_body.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_body (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbow_binding.png
src/main/resources/assets/tinker/textures/items/textures to draw/_crossbar.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cleaver_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_cleaver_guard.png
src/main/resources/assets/tinker/textures/items/textures to draw/_chisel_head_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_chisel_head.png
src/main/resources/assets/tinker/textures/items/textures to draw/_chisel_head (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_chisel_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_3.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_3 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_2.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_2 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_1.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top_1 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_top (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_limb.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_grip.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_3.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_3 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_2.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_2 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_1.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom_1 (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom.png
src/main/resources/assets/tinker/textures/items/textures to draw/_bow_bottom (2).png
src/main/resources/assets/tinker/textures/items/textures to draw/_binding.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battlesign_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_head_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_head.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_fronthead_broken.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_fronthead.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_front.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_binding.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_backhead.png
src/main/resources/assets/tinker/textures/items/textures to draw/_battleaxe_back.png
src/main/resources/assets/tinker/textures/items/textures to draw/_axe_handle.png
src/main/resources/assets/tinker/textures/items/textures to draw/_arrow_shaft.png
